PORT=4000
MONGO_URI=mongodb://localhost:27017/practica6_db
JWT_SECRET=mi_secreto_super_seguro
SESSION_SECRET=otro_secreto_para_sesiones

# Google OAuth (crear en https://console.cloud.google.com/apis/credentials)
GOOGLE_CLIENT_ID=tu_google_client_id
GOOGLE_CLIENT_SECRET=tu_google_client_secret
GOOGLE_CALLBACK_URL=http://localhost:4000/api/auth/google/callback

# URL del frontend (para redirigir tras login con Google)
FRONTEND_URL=http://localhost:5173
